.header {
	background: $babypowder;
}

.header__content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: $s-size 0;
}

.header__title {
	text-decoration: none;
	h1, img {
		display: inline-block;
    vertical-align: bottom;
	}
	h1 {
		color: $charcoal;
		font-weight: 300;
		margin: 0 0 0 $m-size;
	}
}